{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ "Articles" }}</title>
{% endblock %}

{% block main %}
    <div class="btn-category">
        <a href="{{ path ('admin_insert_article') }}" class="btn-create">Créer un article </a>
    </div>

    {#    La boucle permet d'afficher l'intégralité des articles #}
    {% for article in articles %}
        {% if article.isPublished %}
            <article class="article">
                {# on vérifie si l'article publié a une catégorie,
                s'il n'en a pas, on l'affichera sans catégorie #}
                {% if article.category %}
                    {# défini une actégorie à un article #}
                    <h1>{{ article.category.title }}</h1>
                {% else %}
                    <p>Pas de catégorie</p>
                {% endif %}
                <div class="lien">
                    <a href={{ path('admin_article', {'id': article.id }) }}>Voir le détail de l'article_</a>
                    <a href="{{ path ('admin_update_article',{'id':article.id }) }}">Modifier cet article </a>
                    <a href="{{ path ('admin_delete_article',{'id':article.id }) }}">Voulez-vous supprimer cet
                        article? </a>
                </div>
            </article>
        {% endif %}
    {% endfor %}


{% endblock %}

{% block footer %}
    <footer>Coucou, je suis le footer de la liste d'articles</footer>
{% endblock %}