{% extends 'base.html.twig' %}

{% block title %}
        <title>{{ "Articles" }}</title>
{% endblock %}

{% block main %}
     <div class="btn-category">
         <a href="{{ path ('admin_insert_article')}}" class="btn-create">Créer un article </a>
     </div>

    {#    La boucle permet d'afficher l'intégralité des articles #}
    {% for article in articles %}
        <article class="article">
            <h1>{{ article.title }}</h1>
            <div class="lien">
                <a href={{ path('admin_article', {'id': article.id }) }}>Voir le détail de l'article_</a>
                <a href="{{ path ('admin_update_article',{'id':article.id })}}">Modifier cet article </a>
                <a href="{{ path ('admin_delete_article',{'id':article.id })}}">Voulez-vous supprimer cet article? </a>
            </div>
        </article>
    {% endfor %}


{% endblock %}

{% block footer %}
    <footer>Coucou, je suis le footer de la liste d'articles</footer>
{% endblock %}