{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ "Articles" }}</title>
{% endblock %}

{% block main %}

    {#    La boucle permet d'afficher l'intégralité des articles #}
    {% for article in articles %}
        {% if article.isPublished %}
            <article class="article">
                <img src="{{ asset('uploads/images/') ~ article.image }}" alt="{{ article.title }}"
                     class="image-article">
                <h1>{{ article.title }}</h1>
                {# on vérifie si l'article publié a une catégorie,
                s'il n'en a pas, on l'affichera sans catégorie #}
                {% if article.category %}
                    {# défini une actégorie à un article #}
                    <p>{{ (article.category.title) }}</p>
                {% else %}
                    <p>Pas de catégorie</p>
                {% endif %}
                <div class="lien">
                    <a href={{ path('article', {'id': article.id }) }}>Voir le détail de l'article_</a>
                </div>
            </article>
        {% endif %}
    {% endfor %}


{% endblock %}

{% block footer %}
    <footer>Coucou, je suis le footer de la liste d'articles</footer>
{% endblock %}